<?xml version ="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="backup" value ="/Users/kirill/Desktop/ConsoleApp1/ConsoleApp1/Backup"/>        
    <add key="target" value ="/Users/kirill/Desktop/ConsoleApp1/ConsoleApp1/Output"/>
    <add key="file1" value ="/Users/kirill/Desktop/ConsoleApp1/ConsoleApp1/Input/NewFile1.txt"/>
    <add key="file2" value ="/Users/kirill/Desktop/ConsoleApp1/ConsoleApp1/Input/NewFile2.txt"/>
    <add key="file3" value ="/Users/kirill/Desktop/ConsoleApp1/ConsoleApp1/Input/NewFile3.txt"/>
    <add key="folder1" value ="/Users/kirill/Desktop/ConsoleApp1/ConsoleApp1/Input/Directory"/>
        
        
    </appSettings>
</configuration>